<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181538328854-s2oah0dmc65b25rhmpdhqk37ft8663sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181538328854-s2oah0dmc65b25rhmpdhqk37ft8663sb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181538328854-thlt3cq81k2hq7hc9klchtglk8ftru4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnuwsX6IBkcv1F_3FxZDu5FZlOdbRd-Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>181538328854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFlutter</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3cad9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3cad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181538328854:ios:2274d159118d8bff6f8037</string>
</dict>
</plist>